# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Blockchain with Java/*
!/Blockchain with Java/task/
/Blockchain with Java/task/*
!/Blockchain with Java/task/src
